[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "foresty"]
	path = foresty
	url = https://github.com/akishiroshita/foresty
[submodule "ggstratify"]
	path = ggstratify
	url = https://github.com/akishiroshita/ggstratify
